/*
* Kyle Billings
*/
.photo-icon {
  width: 30px;
  border: 2px solid #fff;
  border-radius: 100%;
  display: inline;
  margin-left: -10px;
}
.gray {
  color: #C7CACB;
}
.blue {
  color: #44b6ff;
}
.green {
  color: #72D627;
}
.timeline {
  list-style: none;
  margin: 25px 0 22px;
  padding: 0;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.timeline-horizontal:after {
  border-top-width: 6px;
  border-left-width: 13px;
  border-color: transparent transparent transparent #44b6ff;
  top: 15px;
  right: 0;
  bottom: auto;
  left: auto;
}
.timeline-horizontal .timeline-milestone {
  border-top: 1px solid #44b6ff;
  display: inline;
  float: left;
  margin: 20px 0 0 0;
  padding: 40px 0 0 0;
}
.timeline-horizontal .timeline-milestone:before {
  top: -10px;
  left: auto;
}
.timeline-horizontal .timeline-milestone.is-completed:after {
  top: -10px;
  left: 0;
}

.timeline-milestone {
  border-left: 1px solid #e1e1e1;
  margin: 0 0 0 20px;
  padding: 0 0 5px 25px;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.timeline-milestone:before {
  border: 1px solid #44b6ff;
  border-radius: 50%;
  content: "";
  display: block;
  position: absolute;
  left: -10.5px;
  width: 20px;
  height: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.timeline-milestone.is-completed:before {
  background-color: #44b6ff;
}
.timeline-milestone.is-completed:after {
  color: #FFF;
  content: "";
  display: block;
  font-family: "FontAwesome";
  line-height: 20px;
  position: absolute;
  top: 0;
  left: -10.5px;
  text-align: center;
  width: 20px;
  height: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.timeline-milestone.is-current:before {
  background-color: #fff;
  border: 1px solid #e1e1e1;
}

.timeline-milestone.is-future:before {
  background-color: #fff;
  border: 0;
}
.timeline-milestone.is-future .timeline-action .title {
  color: #e1e1e1;
}
@media (max-width: 400px) {
  .timeline-milestone {
    margin-left: 5px;
  }
}
.timeline-end {
  border-left: none !important;
}

.timeline-action {
  background-color: #FFF;
  padding: 12px 10px 12px 20px;
  position: relative;
  top: -15px;
}
@media (max-width: 400px) {
  .timeline-action {
    padding: 12px 10px 12px 0px;
  }
}
.timeline-action.is-expandable .title {
  cursor: pointer;
  position: relative;
}
.timeline-action.is-expandable .title:focus {
  outline: 0;
  text-decoration: underline;
}
.timeline-action.is-expandable .title:after {
  border: 6px solid #666;
  border-color: transparent transparent transparent #666;
  content: "";
  display: block;
  position: absolute;
  top: 6px;
  right: 0;
}
.timeline-action.is-expandable .content {
  display: none;
}
.timeline-action.is-expandable.is-expanded .title:after {
  border-color: #666 transparent transparent transparent;
  top: 10px;
  right: 5px;
}
.timeline-action.is-expandable.is-expanded .content {
  display: block;
}
.timeline-action .title, .timeline-action .content {
  word-wrap: break-word;
}
.timeline-action .title {
  margin: 0;
}
.timeline-action .date {
  display: block;
  font-size: 14px;
  margin-bottom: 10px;
}
.timeline-action .content {
}


.file-list {
  line-height: 1.4;
  list-style: none;
  padding-left: 10px;
}
.category-grid-item {
  cursor: pointer;
}
#t2 {
  display: none;
}
#t3 {
  display: none;
}
.back {
  background-color: #e1e1e1;
  cursor: pointer;
}
.category-row img {
  max-width: 70px;
  margin-top: 15px;
}
.category-row {
  border-bottom: 1px solid #e1e1e1;
}
.category-row:hover {
  border-bottom: 1px solid #44b6ff;
}
.category-row .text {
  padding: 15px 5px 15px 5px;
  display: block;
  float: left;
  margin-left: 5%;
}
.text h4 {
  margin-bottom: 2px;
}
.text p {
  margin-bottom: 2px;
}
.text .price {
  line-height: 15px;
}
.category-row .image {
  max-width: 80px;
  display: inline;
  float: left;
  margin-left: 5%;
}
.category-row span {
  display: inline;
}
.category-row .more {
  float: right;
  margin-top: 35px;
  margin-right: 2%;
  display: none;
}
.category-row:hover .more {
  display: inline-block;
}
#hero {
  margin-bottom: 50px;
  padding-top: 50px;
}
.spacing {
  height: 50px;
}
.center {
  text-align: center;
}
#nav {
  z-index: 200;
  background-color: #fff;
  padding-top: 10px;
  border-bottom: 1px solid #E1E1E1;
  position: fixed;
  /* -webkit-box-shadow: 0px 2px 10px -1px rgba(199,202,203,.5);
  -moz-box-shadow: 0px 2px 10px -1px rgba(199,202,203,.5);
  box-shadow: 0px 2px 10px -1px rgba(199,202,203,.5); */
}
#nav ul {
  display: inline;
}
#nav li {
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px 5px 10px;
}
#nav li .nav-icon {
  vertical-align: middle;
  margin-right: 5px;
}
#nav a {
  text-decoration: none;
  color: #546979;
}
#nav a:hover {
  color: #44b6ff;
}
/* Search */
#add-item-field {
  margin: 0 auto;
  line-height: 1em;
}
#add-item {
  font-size: 3rem;
  font-family: "ChronicaUltraLight";
}
.round {
  border-radius: 100%;
}
.left {
    float:left;
}
.wrap {
    position:relative;
}
.search-icon {
  vertical-align: middle;
}
@media (max-width: 400px) {
  #add-item {
    font-size: 1em;
    font-family: "ChronicaBook";
  }
}
/*.search {
    padding:20px 10px 15px 45px !important;
    width: 70%;
    border: none !important;
    background:white url(../images/search.svg) left center no-repeat;
}*/
.tt-input, /* UPDATE: newer versions use tt-input instead of tt-query */
.tt-hint {
    width: 396px;
    height: 30px;
    padding: 8px 12px;
    line-height: 30px;
    border: none !important;
    outline: none;
}
@media (max-width: 400px) {
  .tt-hint {
    width: 200px;
  }
}
.tt-query { /* UPDATE: newer versions use tt-input instead of tt-query */
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999;
}

.tt-menu { /* UPDATE: newer versions use tt-menu instead of tt-dropdown-menu */
  font-family: "ChronicaBook";
  text-align: left;
    width: 422px;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}
.tt-suggestion:hover {
  background-color: #e1e1e1;
  cursor: pointer;
}
.tt-suggestion.tt-cursor { /* UPDATE: newer versions use .tt-suggestion.tt-cursor */
    color: #fff;
    background-color: #0097cf;
}

.tt-suggestion p {
    margin: 0;
}
.tt-highlight {
  color: #44b6ff;
}
.item-photo {
  float: left;
  margin: 5px;
}
.blue {
  color: #44b6ff;
}
.editable {
  cursor: context-menu;
}

@import url(netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
}
@import url(http://fonts.googleapis.com/css?family=Titillium+Web:300);
.fa-2x {
font-size: 2em;
}
.fa {
position: relative;
display: table-cell;
height: 36px;
text-align: center;
vertical-align: middle;
font-size:20px;
line-height: 1.6 !important;
}
.main-menu .fa {
  width: 60px;
}


.main-menu:hover,nav.main-menu.expanded {
width:250px;
overflow:visible;
}

.main-menu {
background:#fcfdfd;
border-right:1px solid #e1e1e1;
position:fixed;
top:0;
bottom:0;
padding-top: 65px;
height:100%;
left:0;
width:60px;
overflow:hidden;
-webkit-transition:width .05s linear;
transition:width .05s linear;
-webkit-transform:translateZ(0) scale(1,1);
z-index:100;
}

.main-menu>ul {
margin:7px 0;
}

.main-menu li {
position:relative;
display:block;
width:250px;
}

.main-menu li>a {
position:relative;
display:table;
border-collapse:collapse;
border-spacing:0;
color:#999;
font-size: 14px;
text-decoration:none;
-webkit-transform:translateZ(0) scale(1,1);
-webkit-transition:all .1s linear;
transition:all .1s linear;
  
}

.main-menu .nav-icon {
position:relative;
display:table-cell;
width:60px;
height:36px;
text-align:center;
vertical-align:middle;
font-size:18px;
}

.main-menu .nav-text {
position:relative;
display:table-cell;
vertical-align:middle;
width:190px;
}

.main-menu>ul.logout {
position:absolute;
left:0;
bottom:0;
}

@media (max-width: 400px) {
  .main-menu {
    width: 44px;
  }
  .main-menu .fa {
    width: 44px;
  }
  .main-menu .fa-2x {
    font-size: 1em;
  }
}

.no-touch .scrollable.hover {
overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
}

a:hover,a:focus {
text-decoration:none;
}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
}
@media (max-width: 400px) {
  #nav a {
    display: none;
  }
}
.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
color:#44b6ff;
}
.area {
float: left;
background: #e2e2e2;
width: 100%;
height: 100%;
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}
#address-schedule {
  display: none;
}



/* DELETE ME */
#lean_overlay {
        position: fixed;
        z-index: 100;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;
        background: #000;
        display: none;
}

.popupContainer {
        position: absolute;
        width: 330px;
        height: auto;
        left: 45%;
        top: 60px;
        background: #FFF;
}

#modal_trigger {
        margin: 40px auto;
        width: 200px;
        display: block;
        border: 1px solid #DDD;
        border-radius: 4px;
}

.btn {
        padding: 10px 20px;
        background: #F4F4F2;
}

.btn_red {
        background: #ED6347;
        color: #FFF;
}

.btn:hover {
        background: #E4E4E2;
}

.btn_red:hover {
        background: #C12B05;
}

a.btn {
        color: #666;
        text-align: center;
        text-decoration: none;
}

a.btn_red {
        color: #FFF;
}

.one_half {
        width: 50%;
        display: block;
        float: left;
}

.one_half.last {
        width: 45%;
        margin-left: 5%;
}
/* Popup Styles*/

.popupHeader {
        font-size: 16px;
        text-transform: uppercase;
}

.popupHeader {
        background: #F4F4F2;
        position: relative;
        padding: 10px 20px;
        border-bottom: 1px solid #DDD;
        font-weight: bold;
}

.popupHeader .modal_close {
        position: absolute;
        right: 0;
        top: 0;
        padding: 10px 15px;
        background: #E4E4E2;
        cursor: pointer;
        color: #aaa;
        font-size: 16px;
}

.popupBody {
        padding: 20px;
}
/* Social Login Form */

.social_login {}

.social_login .social_box {
        display: block;
        clear: both;
        padding: 10px;
        margin-bottom: 10px;
        background: #F4F4F2;
        overflow: hidden;
}

.social_login .icon {
        display: block;
        width: 10px;
        padding: 5px 10px;
        margin-right: 10px;
        float: left;
        color: #FFF;
        font-size: 16px;
        text-align: center;
}

.social_login .fb .icon {
        background: #3B5998;
}

.social_login .google .icon {
        background: #DD4B39;
}

.social_login .icon_title {
        display: block;
        padding: 5px 0;
        float: left;
        font-weight: bold;
        font-size: 16px;
        color: #777;
}

.social_login .social_box:hover {
        background: #E4E4E2;
}

.centeredText {
        text-align: center;
        margin: 20px 0;
        clear: both;
        overflow: hidden;
        text-transform: uppercase;
}

.action_btns {
        clear: both;
        overflow: hidden;
}

.action_btns a {
        display: block;
}
/* User Login Form */

.user_login {
        display: none;
}

.user_login label {
        display: block;
        margin-bottom: 5px;
}

.user_login input[type="text"],
.user_login input[type="email"],
.user_login input[type="password"] {
        display: block;
        width: 90%;
        padding: 10px;
        border: 1px solid #DDD;
        color: #666;
}

.user_login input[type="checkbox"] {
        float: left;
        margin-right: 5px;
}

.user_login input[type="checkbox"]+label {
        float: left;
}

.user_login .checkbox {
        margin-bottom: 10px;
        clear: both;
        overflow: hidden;
}

.forgot_password {
        display: block;
        margin: 20px 0 10px;
        clear: both;
        overflow: hidden;
        text-decoration: none;
        color: #ED6347;
}
/* User Register Form */

.user_register {
        display: none;
}

.user_register label {
        display: block;
        margin-bottom: 5px;
}

.user_register input[type="text"],
.user_register input[type="email"],
.user_register input[type="password"] {
        display: block;
        width: 90%;
        padding: 10px;
        border: 1px solid #DDD;
        color: #666;
}

.user_register input[type="checkbox"] {
        float: left;
        margin-right: 5px;
}

.user_register input[type="checkbox"]+label {
        float: left;
}

.user_register .checkbox {
        margin-bottom: 10px;
        clear: both;
        overflow: hidden;
}